.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}
.error{
  margin: 0;
  margin-top: 20px;
  color: red;
  text-align: center;
  font-size: 14px;
}
.subtitle{
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}